/* your styles go here */
html {
    height: 100%;
}
.border-radius{
    border-radius: 15px;
}
.title{
    color: #555;
}


.border-gris-200{
    color: #555;
}

.texto{
    width: auto;
    color: #666666;
    text-align: center;
}
.textodos{
width: auto;
height: 10px;
color: #4fbfa8;
text-align: center;
}