.cupon-image-porcentaje {
    background-image: url(/img/fondo_cupon.png);
    border: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 20px;
    color: #ffffff
  }

  .cupon-image-monto {
    background-image: url(/img/fondo_cupon2.png);
    border: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 20px;
    color: #ffffff;
  }

  @media only screen and (max-width: 600px) {
    .cupon-image-porcentaje {
        text-align: center;
        background-color: #eb1c26;
        background-image: none;
        border: none;
        position: relative;
        border-radius: 20px;
        color: #ffffff
      }
      .cupon-image-monto {
        text-align: center;
        background-color: #444545;
        background-image: none;
        border: none;
        position: relative;
        border-radius: 20px;
        color: #ffffff;
      }
  }
  .text-nombre{
    font-size: 4.2rem;    
  }

 .icon-size{
    width: 20%;

 }
 .text-cupon-p{
    color: #ffffff !important;
    font-size: 1.45rem !important;
    font-weight: bold;
 }
  
