   

    body{
     font-family: 'Montserrat', sans-serif !important;
    background-color: #c1d6e6;
        
        }


    .imaglogo{max-width: 400px;width: 80%;}
    .imaglogo2{max-width: 300px;width: 70%;}
    .imaglogo3{width: 100%;}
    .imaima2{width: 90%;}

    .pointer{cursor: pointer;}

    h3{color: #3d3d3d;font-family: 'Bebas Neue', cursive !important;}

    .tam1map{height: 90px !important;}

    .parcer{    margin-bottom: 5px;
    font-size: 17px;}

    .tituldescuento{color: #fff;cursor: pointer;}

    .segundibtncaa{
        background: #DD0000;
        border-radius: 42px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;

    }
    .segundibtncaa:hover{
        background: #aa1a18 !important;
    }



    .pruebamap{height: 568px;
    width: 100%;
    position: fixed;
    opacity: 0;z-index: -1;
    overflow: hidden;}

    

    .prefijoum{width: 100px;
    font-size: 24px;
    text-align: center;}

    .parra{font-size: 16px;
    margin-bottom: 5px;
    color: #3d3d3d;}

    .parratotal{
    margin-bottom: 5px;margin-top: 5px;
    font-size: 23px;
    font-weight: 700;
    color: #3d3d3d;}

   .padinc {
    padding: 0px 30px;color: #3d3d3d;
}
    .inpunumini{    font-size: 24px !important;
    text-align: left !important;
    height: 50px !important;
    padding: 10px 10px !important;}

    .centerver{position: absolute;
    left: 50%;
        width: 100%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);}

.padalt{padding-top: 13px;}

    .pad22t{padding-top: 13px;}

    .icontt{background: #184d8e;width: 40px;line-height: 35px;height: 40px;border-radius: 50%;}

    .nombrecont{font-size: 9px;font-weight: 700;margin-top: 2px;margin-left: -2px;}

    .headercontacts{    background: #194e8e;
    color: white;
    font-size: 12px;
    padding: 5px 10px;
}

      .whatsapp-ffijo {
                font-size: 30px;
                bottom: 10px;
                line-height: 40px;
                text-align: center;
                right: 13px;
                z-index: 99999999;
                border-radius: 50%;
                position: fixed;
            }
    
    .rajaright{
       position: fixed;
       right: 0px;
       width: 10px;
       background: #c33f4c;
       height: 100%;
    }

    .rojoobnt{    position: fixed;
    right: 0px;
    cursor: pointer;
    width: 88px;
    bottom: 12px;}

    /**/

    .redonfot{border-radius: 50%;
    overflow: hidden;
}

.footerpubli{position: fixed;bottom: 0px;z-index: 999999}

.iconlist{    color: #439d71;}

.racyb{border: solid #3d3d3d 1px !important;
    width:95%;}

    .imagv{    cursor: pointer;
    width: 35px;}

    .padrr{padding-right: 0px;}
    .padlle{padding: 5px 0px 5px 10px;
    color: #3d3d3d;}

    .h3ti{    color: #3d3d3d;
    margin-top: 7px;}

    .color2{    background: #808080 !important;
    font-size: 10px;
    padding: 18px 19px;
    border-radius: 42px !important;}

    h3{padding: 0px;margin: 0px;font-family: 'Bebas Neue', cursive !important;font-size: 32px;}

    .color2:hover{ background: #717171 !important; }


    .tam1lab{color: #3d3d3d;
    font-size: 14px;}
    .tam2lab{font-size: 20px;
    color: #3d3d3d;}

    .agotado{background: #4a6f9e;text-align: center;
    color: white;}

.nimipe{text-align: right;
    color: #3d3d3d;
    font-size: 13px;
    margin-top: 5px;}
.numcarr{    color: #3d3d3d;
    line-height: 31px;}
.imaglogo4{max-width: 30px; cursor: pointer;}
.padco{padding: 0px;}
.newpa{padding: 2% 0px 2% 4%;}

    .titulcar{    color: #3d3d3d;
    font-size: 12px;
    text-align: left;}
    .titulcar2{text-align: left;
    font-size: 11px;
    color: #3d3d3d;}

    .imagcandadis{width: 50px;
    max-width: 50px;
    max-height: 50px;
    height: 50px;}

    .pad0r{padding-right: 0px;}

    .contheader{max-width: 500px; margin: 0px auto}

    .contin{    
    padding: 0px 20px 75px 20px;}

    .header1{padding: 25px 15px;}

    .vvv{position: relative;cursor: pointer;}

    .tambtnini{
        padding: 15px 7px !important;
        font-size: 14px;
    }


    .header3{padding: 0px 15px;
    margin-top: 25px;}
    .header4{    margin: 0px -20px;
    padding: 20px 15px 0px;}


    p{font-size: 14px;color: #3d3d3d}

    h5{margin: 0px;color: #3d3d3d;}

    .menosp{padding: 3px 5px;}
    .menosp2{padding: 5px 10px;
    margin-bottom: 20px;}

    .imaglogono10{max-width: 60%;}

    .borde0{border-radius: 0px !important;}
    .bor0bb{    border-bottom-left-radius: 0px;}
    .bor0bb{    border-top-left-radius: 0px;}

    .bor020{    border-top-left-radius: 15px; }
    .borb020{    border-bottom-left-radius: 15px; }
    .botoper{border-top-right-radius: 15px !important;}
    .botttr{border-bottom-right-radius: 15px !important;}


    .contin2{    margin: 0px auto;
    width: 90%;}

    .input-group-text{
        background: white;
        height: 50px;
        padding: 5px 15px;
        border-right: 0px;
    }




    .input1{border-left: 0px !important;
    height: 50px !important;
    font-size: 17px !important;}

    .avatar2{width: 24px;}
    
    .primaribtn {
    color: #4D4D4D;
    background: #fff;
    font-weight: 700;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    max-width: 100%;
    border-radius: 10px;
    padding: 15px 10px;
    }

    h1{margin: 0px;color: #3d3d3d;font-family: 'Bebas Neue', cursive !important;font-size: 50px;}
    h2{margin: 0px;color: #3d3d3d;font-family: 'Bebas Neue', cursive !important;font-size: 39px;}

    .hrp{width: 203px;}

    hr{
    margin: 0px auto !important;
    background: #3d3d3d !important;
    border: solid #3d3d3d 2px !important;}

    .segundibtn{
        background: #12335d;
        border-radius: 42px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;

    }
    .pagbtn{    font-size: 12px;}
    .segundibtn:hover{
        background: #4a6f9e !important;
    }

    .imaglogo2{max-width: 300px;width: 50%;}


    .numcarris{background: #3d3d3d;
    width: 18px;
    border-radius: 50%;
    color: white;
    line-height: 20px;
    bottom: 0px;
    right: 0px;
    position: absolute;
    font-size: 12px;
    height: 18px;}

    .button:focus, .button:hover, button:focus, button:hover {
    color: #fff;
    background: #12335d;
    }

    .primaribtnactivo {
     color: #fff;
    background: #12335d;
}
.imamodlc{width: 22px;
    float: left;}
.lefp{margin-top: 7px;
    float: left;
    margin-left: 5px;}

.modalagregado{

    color: white;
    position: fixed;
    bottom: 40px;
    left: 10px;
    padding: 5px 21px;
    border-radius: 15px;
    border: solid 1px white;
    font-size: 11px;
    background: black;
    z-index: 99;
}

   .alertas{background: #000000b5;
    width: 100%;
    height: 100%;
    position: fixed;
    font-size: 18px;
    color: white;
    text-align: center;
    padding: 0px 70px;
    z-index: 9999;
}
   .contcenteralert{    
    position: absolute;
    padding: 20px;
    left: 50%;
    border-radius: 15px;
    width: 80%;
    border: solid 2px #ffffff0f;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

    .titulocom{
      font-size: 11px;
      color: #3d3d3d;text-align: center;
      text-transform: uppercase;
      overflow: hidden;
      margin-bottom: 5px;
      margin-top: 5px;
    }

    .menus{color: #4a6f9e;
    font-size: 20px;
    line-height: 23px;}

    .masme{    width: 18px;
    cursor: pointer;}

     .inputdel{       
          width: 30px !important;
    padding: 0px !important;
    border: none;
    height: 23px !important;
    border-color: transparent !important;
    box-shadow: inset 0 0px 0px rgb(0 0 0 / 10%) !important;
    text-align: center;
    color: black !important;
    font-size: 18px !important;
    margin: 0px !important;
    display: inline !important;
    background: transparent !important;
    }

    .fondotexarea{background: #fdfdfd85 !important;
    font-size: 12px;}

    .especi {
    padding: 6px 6px;
    cursor: pointer;
    border: solid 1px #a2a2a2;
    }

.colo{text-align: left;
    font-size: 14px;
}
 .especi:hover {
    padding: 6px 6px;
    cursor: pointer;background: #12335d;
    border: solid 1px #a2a2a2;color: #fff;
}

.pad0{
    padding-right: 0px;
    padding-left: 0px;
    margin: 0px;
}

.colorcitos{   
-moz-border-radius: 7px;
    -webkit-border-radius: 17px;
    width: 20px;
    display: block;
    float: left;
    height: 20px;
    margin-left: 5px;
    margin-bottom: 5px;
}
    .categoria {
        padding: 6px 6px;
    display: inline-block;
    margin-bottom: 5px;
    width: 100%;
    background: #c1d6e6;
    border: solid 1px #a2a2a2;
    color: #fff;
    }

    .contenbtns{ 
        margin: 3px auto;
        width: 77px;
        text-align: center;
        padding: 0px 0px;
        
    }


    .redonp{    
        text-align: center;
        position: absolute;
        top: 12px;
        background: #4a6f9e;
        width: 40px;
        right: 20px;
        border-radius: 50%;
        height: 40px;
        font-size: 13px;
        line-height: 40px;
        color: white;
    }
    .colorbnttick{background:  #34C47E;color: #fff;}

    .alertapago2{position: fixed;
    height: 100%;
    width: 100%;
    text-align: center;
    top: 0px;
    background: #00000099;
    left: 0px;
    z-index: 999999;}

    .alertapago{position: fixed;
    height: 100%;
    width: 100%;
    text-align: center;
    top: 0px;
    background: #00000099;
    left: 0px;
    z-index: 999999;}
    .fontbold{font-weight: 700}

     .contalertapago{  
            padding: 30px 40px;
    margin: 0px auto;
    background: white;
    color: black;
    width: 80%;
    margin-top: 20%;}

    .inputco {
        text-align: center;
        font-size: 20px !important;
    }

    .modalti1{ color: #3d3d3d; }
    .parrafo1{ color: #3d3d3d; }

    .te2{height: 37px;
    font-size: 26px;}

    .tam22{font-size: 24px !important;
    max-width: 60px !important;
    text-align: center !important;}

    .titulico{color: #3d3d3d;}

    .taminco {
    font-size: 31px !important;
}

.header2{    padding: 0px 0px;
    margin-left: -20px;
    margin-right: -20px;
    overflow: hidden;
    max-height: 300px;}

    .leficon{float: left;color: #3d3d3d;
    margin-top: -4px;cursor: pointer;
    margin-right: 5px;}

    .padoo{padding: 0px;}

    .tamn{font-size: 23px !important;}

    .cajis{}

    .vpa2{padding-top: 26px;}


    @media screen and (max-width: 416px){

        .padcp{padding: 5px 10px;}
        .padinc {
            padding: 0px 0px;
            color: #3d3d3d;
        }

    }
    @media screen and (max-width: 350px){

         .padcp{padding: 0px 7px;}

    }

    