.logoimg{max-width: 62px;}

.top-bar {
    background: #4fbfa8;
    color: #fff;
    font-size: 0.9rem;
    padding: 15px 0;
}

.fondisoscuro{background: #00000026;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;}

.bgnav{    margin-top: 10px;
    background: #ffffffd6 !important}

    .paaar{    color: #fff;
    font-size: 40px;
    line-height: 42px;}

.nav22{
    width: 100%;
    z-index: 99;
    background: transparent !important;}
.imaglogo{max-width: 200px;width: 80%;}
.carverde{position: absolute;
    bottom: 0px;
    color: white;
    padding: 10px;
    width: 100%;
    background: #51d26d;}


.price{    position: absolute;
    top: 0px;
    width: 50px;
    color: white;
    border-radius: 50%;
    background: #f44027;
    text-align: center;
    line-height: 47px;
    height: 50px;
    right: 0px;}

    .top-bar ul.social-custom a {
    text-decoration: none !important;
    font-size: 24px;
    width: 26px;
    height: 26px;
    line-height: 26px;
    background: #a02424;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    margin: 0;
}


.top-bar p {
    margin-bottom: 0;
    font-size: 17px;
}

footer.main-footer h4 {
    color: #484848;
    margin: 10px 0;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

footer.main-footer {
    padding: 60px 0;
    padding-bottom: 0;
    background: #fff;
    color: #000;
}

.imgcarr{max-width: 80%;}

.colorf{color: #fff;}

.btn-template-outlined-white, .btn-template-outlined-whit {
    background: #fff;
    color: #d25a5a !important;
}

.btn-template-outlined-white:hover, .btn-template-outlined-whit {
    background: #fff;
    color: #d25a5a !important;
}

.descuento {
    padding: 3px 15px;
    background: #00ff1480;
}
.tituln{color: #000;}

.logosmail{width: 40px;}

.sixs{display: none;}

.rrow{border: solid 1px #bebcbc;
    padding: 7px;
    margin-top: 10px;
    cursor: pointer;}

    .activedeli{background: #467fbf;color: #fff;}

    .botondeli{    border: solid 1px #bfbfbf;
    padding: 10px;cursor: pointer;}

     .botondeli:hover{    background: #467fbf;border: solid 1px #bfbfbf;
    padding: 10px;cursor: pointer;color: #fff}

    .carritsfix{width: 35px;}

    .redoncant{position: absolute;
    width: 100%;
    font-size: 21px;
    top: -20px;
    font-weight: 700;
    text-align: center;}

    


    .carfix{border-radius: 50%;
    position: fixed;cursor: pointer;
    bottom: 10px;
    height: 70px;
    z-index: 99999;
    text-align: center;
    line-height: 75px;
    width: 70px;
    border: 1px #797979 solid;
    right: 10px;
    background: white;}

    .rrow:hover{border: solid 1px #bebcbc;
    padding: 7px;
    background: #f1f1f1;
    margin-top: 10px;
    cursor: pointer;}

.carrits{width: 20px;}

.inputdel{width: 36px;
    text-align: center;
    border: none;
    font-size: 18px;}

.contenbtns{width: 100px;
    margin: 0px auto;
    display: inline-block;}
    .masme{width: 20px;cursor: pointer;}

.tag_order_status{
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    padding: 13px 25px;
}

@media (max-width: 800px) {
#navbar .navbar-collapse {
        position: absolute;
    width: 100%;
    left: 0px;
    top: 36px;
}

}


@media (max-width: 500px) {
    .mtxs{margin-top: 25px;}
  .noxs {
    display: none !important;
  }
  .sixs {
    display: block !important;
  }
}

.title-orden-dsv{
    padding: .75rem 1.25rem;
    background-color: #ffffff;
    border: 1px solid #dee2e6;
}
.p-orden-dsv{
    font-size: 1.2rem !important;
}

.span_link{
    color:#797979;
    cursor: pointer;
}
.span_link:hover{
    color:darkslateblue;
}

.top {
    padding-top: 40px;
    padding-left: 5% !important;
    padding-right: 5% !important
}